.App {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;

	width: 900px;
	height: 100%;
}

.screen{
	width: 505px;
	height:300px ;
	border: solid 2px black;
	margin: 10px;
	border-radius: 5px;
}

.input{
	width: 500px;
	height: 30px;
	margin:0 0 10px 0 ;
	border-radius: 5px;
	font-size: larger;

}

.button{
	width: 500px;
	height: 30px;
	background-color: cornflowerblue;
	border-radius: 5px;
	border: none;
	color: aliceblue;

}



